<section class="section-about" id="about">
  <div class="container">
    <h2>
      <span class="subtitle-about">tradition and love</span
      ><span class="title-about">how it’s made?</span>
    </h2>
    <div class="content-about">
      <picture class="picture">
        <source
          srcset="./images/cow-mob.png 1x, ./images/cow-mob@2x.png 2x"
          media="(min-width: 280px)"
        />
        <source
          srcset="./images/cow-mob.webp 1x, ./images/cow-mob@2x.webp 2x"
          media="(min-width: 280px)"
          type="image/webp"
        />
        <img class="pics" src="./images/cow-mob.png" alt="Cow" />
      </picture>
    </div>

    <div class="text-content">
      <p class="text-about">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </p>

      <p class="secondary-text-about">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt.
      </p>
      <p class="last-text-about">Aliquam erat volutpat. Aenean accumsan.</p>
      <button class="button">Read more</button>
    </div>
  </div>
</section>
