<section class="section-gallery">
  <!-- <h2>Gallery</h2> -->
  <picture class="picture">
    <source
      srcset="./images/comment/gallery-mob.png 1x, ./images/comment/gallery-mob@2x.png 2x"
      media="(min-width: 1200px)"
    />
    <source
      srcset="./images/comment/gallery-mob.webp 1x, ./images/comment/gallery-mob@2x.webp 2x"
      media="(min-width: 1200px)"
      type="image/webp"
    />
    <img class="pics" src="./images/comment/gallery-mob.png" alt="Gallery" />
  </picture>
</section>

<section class="section-comment" id="comment">
  <!-- <h2>Reviews</h2> -->

  <div class="container">
    <div class="comment-slide">
      <img
        class="comment-slide-pic"
        src="./images/comment/comment1-mob.png"
        srcset="./images/comment/comment1-mob@2x.png 2x"
        alt="Woman"
        width="85"
        height="85"
      />
      <div class="comment-slide-bg">
        <p class="comment-description">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <span class="comment-slide-dot"></span>
      <p class="comment-slide-name">Emily, Los Angeles</p>
    </div>
  </div>
</section>
