.section-gallery {
  background-image: linear-gradient #e5e5e5;
  background-size: 100% 39.75%;
  background-repeat: no-repeat;
}

.pics {
  margin-left: auto;
  margin-right: auto;
}

.section-comment {
  padding-top: 80px;
  padding-bottom: 170px;
}
